<%- partial('partial/head', {page:page, theme:theme}) %>

<%- partial('partial/header', {page:page, theme:theme}) %>

<!-- main section -->
<div class="ts narrow container relaxed stackable grid">
        <!-- left section -->
        <div class="eleven wide column" style=" padding: 35px; ">
            <!-- Articles -->
            <%  for(var i = 0;i < page.posts.data.length;i++){ 
                var post = page.posts.data[i];
                var content = post.excerpt;
                var date = new Date(post.date);
            %>
            <div class="ts horizontally fitted basic segment">
                <!-- title bar -->
                <div class="ts huge header">
                    <a href="<%- url_for(post.path) %>" class="title-link" style="color: <%= theme.article_color %>;"><%= post.title %></a>
                    <div class="sub header">
                        <%= date.getFullYear() + "-" + (date.getMonth()+1) + "-" + date.getDate() %>
                        <% if (post.tags && post.tags.length){ %>・
                        <%- list_tags(post.tags, {
                            show_count: false,
                            class : 'unstyled tag-list '
                        }) %>
                        <% } %>
                    </div>
                </div>
                <!-- / the end of title bar -->

                <p><%= content.replace(/(<([^>]+)>)/ig, ' ') %></p>
                <a href="<%- url_for(post.path) %>" class="ts circular button">Read More</a>
            </div>
            <% } %>
            <!-- / the end of articles -->

            <!-- page number -->
             <% if (page.total > 1){ %>
            <div class="ts basic horizontally fitted padded segment">
                <div class="ts pagination menu">
                    <%- paginator({
                        prev_text: "&laquo; " + __('prev'),
                        next_text: __('next') + " &raquo;",
                        class:'item '
                    }) %>
                </div>
            </div>
            <% } %>
            <!-- / the end of page number -->
        </div>
        <!-- / left section -->

        <!-- whitespace -->
        <div class="one wide column"></div>

        <!-- right section -->
        <div class="four wide column" style=" padding-top: 35px; ">

            <% if(theme.enabled_about_me){ %>
            <!-- About Me Section -->
            <div class="ts flatted secondary segment">
                <h3><%= theme.about_me %></h3>
                <p><%= theme.about_me_content %></p>
            </div>
            <!-- the end of about me -->
            <% } %>

            <!-- Archive -->
            <div class="ts basic segment">
                <h3><%= __('archive_a') %></h3>
                <div class="ts relaxed link list">
                    <%- list_archives({show_count: theme.show_count, type: theme.archive_type, class:'unstyled '}) %>
                </div>
            </div>
            <!-- the end of  Archive -->

            <!-- Side Section -->
            <div class="ts basic segment" style=" margin-bottom: 25px; ">
                <h3><%= __('tags') %></h3>
                <div class="ts relaxed link list before-tags-widget">
                    <%- list_tags({show_count: theme.show_count, class:'unstyled tags-list-widget '}) %>
                </div>
            </div>
            <!-- the end of side section -->
        </div>
        <!-- the end of right section -->
</div>
<!-- the end of main section -->

<!-- footer -->
<div class="ts attached secondary segment">
    <div class="ts narrow container">
        <br>
        <div class="ts large center aligned header">
            <% if(theme.footer_big_content == ""){ %>
                Powered by <a href="https://hexo.io">&nbsp;Hexo</a>, Theme designs by <a href="https://github.com/hpcslag">&nbsp;@hpcslag</a>.
            <% }else{ %>
                <%= theme.footer_big_content %>
            <% } %>
            <div class="smaller sub header">
            <% if(theme.footer_small_content == ""){ %>
                Style-Framework <a href="https://tocas-ui.com">&nbsp;Tocas-UI</a> designs by <a href="https://github.com/YamiOdymel">&nbsp;@YamiOldmel</a>
            <% }else{ %>
                <%= theme.footer_small_content  %>
            <% } %>
            </div>
        </div>
        <br>
    </div>
</div>
<!-- the end of footer -->
<%- partial('partial/footer', {page:page}) %>