<%- partial('partial/head', {page:page, theme:theme}) %>

<%- partial('partial/header', {page:page, theme:theme}) %>

<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css">

<!-- main section -->
<div class="ts text container">
        <!-- left section -->
        <div class="column" style=" padding: 35px; ">
            <!-- Articles -->
                <% var date = new Date(page.date); %>
                <h1 class="ts header">
                    <span style="color: #333;"><%= page.title %></span>
                    <div class="sub header" style="color: #808080;">Publish: <%= date.getFullYear() + "/" + (date.getMonth()+1) + "/" + date.getDate() %> 
                    <% if (page.tags && page.tags.length){ %> &nbsp;&nbsp;
                        <%- list_tags(page.tags, {
                            show_count: false,
                            class : 'unstyled radius-tag '
                        }) %>
                    <% } %>
                    </div>
                </h1>

                <%- page.content %>
            <!-- / the end of articles -->
        </div>
        <!-- / left section -->
        
        <% if(theme.enabled_disqus) { %>
            <hr/>
            <div id="disqus_thread" style=" margin-top: 15px; margin-bottom: 25px; "></div>
            <script>
                /**
                *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
                /*
                var disqus_config = function () {
                this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
                this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                };
                */
                (function() { // DON'T EDIT BELOW THIS LINE
                var d = document, s = d.createElement('script');
                s.src = '<%= theme.disqus_url %>';
                s.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(s);
                })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        <% } %>

        <!-- Next Post and Prev Post -->
        <% if (page.prev || page.next){ %>
        <hr/>
        <div class="next-prev-post-section">
            <% if (page.prev){ %>
                <a href="<%- url_for(page.prev.path) %>" class="styled-border">
                    ←<% if (page.prev.title){ %>
                    <%= page.prev.title %>
                    <% } else { %>
                    (no title)
                    <% } %>
                </a>
            <% }else{ %>
                <a href="#"></a>
            <% } %>
            <% if (page.next){ %>
                <a href="<%- url_for(page.next.path) %>" class="styled-border">
                    <% if (page.next.title){ %>
                    <%= page.next.title %>
                    <% } else { %>
                    (no title)
                    <% } %>→
                </a>
            <% }else{ %>
                <a href="#"></a>
            <% } %>
        </div>
        <% } %>
</div>
<script type="text/javascript">
    let img = document.getElementsByTagName("img");
    for(let i = 0; i < img.length; i++){
        img[i].className += " ts fluid image";
    }
</script>
<!-- / main section -->

<!-- copyright -->
<div class="ts attached secondary segment">
    <div class="ts narrow container">
        <br>
        <div class="ts large center aligned header">
            Powered by Hexo, Theme designs by @hpcslag.
            <div class="smaller sub header">
                Style-Framework Tocas-UI designs by @yamioldmel 
            </div>
        </div>
        <br>
    </div>
</div>
<!-- / copyright -->
<%- partial('partial/footer', {page:page}) %>